[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
marshmallow = "*"
pyyaml = "*"
mistune = "*"
urwid = "*"
pygments = "*"

[dev-packages]
pytest = "*"
pytest-xdist = "*"
pytest-mock = "*"
pytest-cov = "*"
pyright = "*"
isort = "*"
autopep8 = "*"
six = "*"
black = "*"

[requires]
python_version = "3.9"
